.form-inputs {
  input[type="email"],
  input[type="password"],
  h2 {
    width: 90%;
    margin: 0 auto;
    position: relative;
  }

  .input-group {
    text-align: left;
    margin-bottom: 10px;

    .email-input,
    .password-input {
      label {
        display: inline-block;
        width: 30%;
        text-align: left;
      }
    }
  }
}

.white-frame {
  border: 2px solid #fff;
  border-radius: 8px;
  padding: 20px;
 }
