<div class="footer-container" >
<div class="langs" >
  <p>France</p>
  <p>|</p>
  <p>Français</p>
  <p>|</p>
  <p>€ (EUR)</p>
  </div>
  <div class="other">
    <p>© 2023 Art & Loc, Inc.</p>
    <a href="#">Conditions d'utilisation</a>
    <a href="#">Confidentialité</a>
    <a href="#">Cookies</a>
    <a href="#">Publicités</a>
    <a href="#">Boutiques locales</a>
    <a href="#">Régions</a>
  </div>

</div>
