<h1>Reservation Details</h1>

<p><strong>Start Date:</strong> <%= @reservation.date_begin %></p>
<p><strong>End Date:</strong> <%= @reservation.date_end %></p>

<%= link_to 'Back', offer_reservations_path(@offer) %>
