
<div class="banner">
  <div class="title-container d-flex justify-content-start align-items-center w-75 h-100">
  <div class="ms-5">
    <div class="text-center">
      <h3 class="animate-charcter">Art & Loc</h3>
    </div>
    <div class="toto text-center">
        <h2>
        <span>Art</span>
        <span>éphémère,</span>
        <span> impact</span>
        <span>durable.</span>
        <span> Art</span>
        <span> & </span>
        <span>Loc</span>
        <span> - </span>
        <span>Votre</span>
        <span> galerie,</span>
        <span> votre</span>
        <span> histoire.</span>
        </h2>
    </div>
  </div>
</div>
</div>
<div class="offers-container">
<h1>Les dernières offres</h1>
<div class="test-toto">
<% @offers.each_slice(4) do |group| %>
<% group.each do |offer| %>
  <div class="card">
    <div class="card-img">
    <% if offer.photo.key %>
                <%= cl_image_tag offer.photo.key, width: 300, height: 220, crop: :fill %>
              <% end %>
      <div class="overlay">
        <div class="overlay-content">
          <h5 class="card-title"><%= link_to "View details", offer_path(offer) %></h5>
        </div>
      </div>
    </div>

    <div class="card-content">
        <h2><%= link_to offer.title, offer_path(offer) %></h2>
        <p><%= offer.price%> €/day</p>
    </div>
  </div>
  <% end %>
  <% end %>
</div>
</div>
