<h1>Liste des offres :</h1>
<div>
  <ul id="offers">
    <% @offers.each_slice(4) do |group| %>
      <div class="container-cards">
        <% group.each do |offer| %>
          <div class="card">
            <div class="test">
              <% if offer.photo.key %>
                <%= cl_image_tag offer.photo.key, width: 200, height: 300, crop: :fill %>
              <% end %>
              <div>
                <h5 class="card-title"><%= link_to offer.title, offer_path(offer) %></h5>
                <p class="card-text"><%=offer.price%> €/day</p>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </ul>
</div>
