.navbar-lewagon {
  justify-content: space-between;
  background: white;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  margin-right: 30px;
  padding-right: 50px;

}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
.navbar-lewagon .icons i{
  margin-right:20px;
  margin-top:20px;
}
.nav-link{
  padding:0px;
}
.navbar-lewagon .icons i:hover{
  color:rgb(173, 173, 173);
  cursor: pointer;
}
.navbar-lewagon .icons{
  display: flex;
  flex-direction: row;
}
.new-offer{
  background-color: #ffffff;
  border-radius: 20px 20px 20px 20px;
  text-decoration:none;
  color:black;
  margin-right:40px;
  padding: 10px;
}
.new-offer:hover{
  background-color: #d2d2d2;
}

.topnav  {
  width: 400px;
  padding: 10px;
}
